$green-color: #323A2F;
$white-color: #FFFFFF;
$gray-color: #ECECEC;
$text-color: #454B41;

@font-face {
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Bitter-Regular'), local('Bitter Regular'),
    url('fonts/Bitter-Regular.woff2') format('woff2'),
    url('fonts/Bitter-Regular.woff') format('woff2');
}

@font-face {
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Bitter-Bold'), local('Bitter Bold'),
    url('fonts/Bitter-Bold.woff2') format('woff2'),
    url('fonts/Bitter-Bold.woff') format('woff');
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Montserrat', 'Bitter', 'Times New Roman', sans-serif;
    font-size: 15px;
    color: $white-color;
}

.container {
    max-width: 1200px;
    height: 100%;
    padding: 0 30px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.btn {
    cursor: pointer;
    padding: 13px 45px;
    margin-bottom: 130px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    background-color: #BF624C;
    color: $white-color;
    transition: background-color .2s ease;
    &:hover {
        background-color: rgb(185, 71, 71);
    }
    &:active {
        outline: 1px solid rgb(158, 151, 151);
    }
}

.section-offset {
    margin-top: 80px;
    margin-bottom: 80px;
}

.header {
    position: relative;
    z-index: 10;
    justify-content: space-between;
    background-color: $green-color;
    &__bg {
        position: absolute;
        z-index: -1;
        width: 67%;
        height: 100%;
        content: '';
        top: 0;
        right: 0;
        background-image: url(img/hero.jpg);
        background-size: cover;
        filter: brightness(.5) grayscale(1);
    }

    &__top {
        justify-content: space-between;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &__logo {
        & img {
            display: block;
            width: 100px;
            height: 75px;
    }}

    &__bottom {
        max-width: 450px;
        margin-top: 125px;
        padding-bottom: 1px;
        text-transform: uppercase;
        &__p {
            margin-bottom: 8px;
            font-size: 14px;
        }
        &__title {
            font-family: 'Bitter';
            font-weight: 100;
            font-size: 6em;
            letter-spacing: 5px;
            margin-bottom: 40px;
        }
        &__btn {
            display: flex;
            width: fit-content;
        }
    }
}

.show{display: block;}.hide{display: none;}.fade{animation-name: fade; animation-duration: 1.5s;}@keyframes fade{from{opacity: .1;}to{opacity: 1;}}

.tabheader__item {
    cursor: pointer;
    display: flex;
    margin-right: 10px;
    width: 10px;
    height: 10px;
    background-color: #963926;
    border-radius: 100%;
    transition: background-color .3s ease;
    &:hover {
        background-color: #e6b08d;
    }
}
.tabheader__items {
    position: absolute;
    right: 20%;
    bottom: 93px;
}

.tabcontent {
    padding: 100px 0 10px 208px;
    font-weight: 700;
}

.nav {
    &__item {
        margin-right: 40px;
        text-transform: uppercase;
        & a {
            transition: color .2s ease;
        }
        & a:hover {
            color: #bf7869;
        }
        & a:active {
            color: #963926;
        }
    }
}

.main-service {
    color: $text-color;
    &__title {
        text-transform: uppercase;
        margin-bottom: 15px;
        font-family: 'Bitter';
    }

    &__item {
        padding-top: 80px;
        text-align: center;
        background-image: url(img/main-mani.png);
        background-size: 69px;
        background-repeat: no-repeat;
        background-position: center top;
    }
    &__item:nth-child(2) {
        background-image: url(img/main-pedi.png);
    }
    &__item:nth-child(3) {
        background-image: url(img/main-eye.png);
    }
    &__more {
        cursor: pointer;
        display: block;
        width: fit-content;
        margin: 25px auto 0;
        font-weight: 600;
        font-size: smaller;
        border-bottom: 1px solid;
        transition: border-color .2s ease, color .2s ease;
        &:hover {
            color: #BF624C;
            border-color: #BF624C;
        }
    }

    &__bottom {
        margin-top: 80px;
        justify-content: center;
        &-title {
            position: absolute;
            left: 47%;
            font-family: 'Bitter';
            font-size: 60px;
            font-weight: 400;
            text-transform: uppercase;
            color: #A0A0A0;
        }
        &-left,
        &-right {
            width: 40%;
            height: 480px;
            background-color: $gray-color;
        }
        &-left {
            padding: 40px 7% 10px;
            text-align: center;
            > img {
                width: 290px;
            }
            > h3 {
                margin-top: 20px;
                margin-bottom: 12px;
                font-family: 'Bitter';
                text-transform: uppercase;
            }
        }
        &-right {
            position: relative;
            z-index: -5;
            margin-top: 100px;
            opacity: .85;
            background-image: url(img/main-service-right.PNG);
            background-size: cover;
        }
    }
}

.book {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
    background: $green-color;
    }

.reviews {
    margin-top: 120px;
    color: $text-color;
    &__span {
        display: inline-block;
        font-size: larger;
        margin-bottom: 10px;
    }
    &__title {
        margin-bottom: 15px;
        font-family: 'Bitter';
        font-size: 60px;
    }
    &__left {
        width: 40%;
    }
    &__right {
        position: relative;
        width: 60%;
        height: 350px;
        & img {
            position: absolute;
            top: 40px;
            left: -120px;
            width: 300px;
            height: 400px;
            object-fit: cover;
            margin-bottom: 15px;
        }
        &-tab {
            position: relative;
            width: 70%;
            height: 90%;
            top: -40px;
            margin-left: auto;
            background-color: $gray-color;
            background-image: url(img/client-say.png);
            background-position: right;
            background-position-y: 22px;
            background-size: contain;
            background-repeat: no-repeat;
            & p {
                padding-right: 30px;
                font-style: italic;
                font-weight: 500;
                font-size: 20px;
                margin-bottom: 10px;
            }
            & span {
                display: inline-block;
                text-transform: uppercase;
            }
        }
    }
}

.footer {
    padding: 80px 0;
    background-color: $green-color;
    background-image: url(img/footer-bg.png);
    background-repeat: no-repeat;
    background-size: 600px;
    background-position: -179px 128px;

    &__flex {
        justify-content: space-between;
    }

    &__left a,
    &__center h3,
    &__contacts h3 {
        margin-bottom: 15px;
    }
    &__left {
        & img {
            display: block;
            margin-bottom: 15px;
            width: 100px;
            height: 75px;
        }
    }

    &__center {
        &__list {
            height: 100px;
            flex-direction: column;
            flex-wrap: wrap;
        }

        &__item {
            width: 200px;
            margin-bottom: 10px;
            & a {
                transition: color .2s ease;
                &:hover {
                    color: #BF624C;
                }
                &:active {
                    color: #963926;
                }
            }
        }
    }
    &__contacts {
        & address {
            font-style: normal;
        }
        & a {
            display: block;
            transition: color .2s ease;
                &:hover {
                    color: #BF624C;
                }
                &:active {
                    color: #963926;
                }
        }
        & p, a {
            margin-bottom: 10px;
            padding-left: 25px;
            background-repeat: no-repeat;
            background-position: left;
            background-size: contain;
        }
        & p {
            background-image: url(img/footer_map.png);
        }
        & a {
            background-image: url(img/footer_mail.png);
        }
        & a:nth-child(2) {
            background-image: url(img/footer_phone.png);
        }
    }

}

.nav-burger {
    display: none;
}

.overflow {
    overflow-y: hidden;
}


.team {
    margin-bottom: 80px;
    color: $text-color;
  }
  .team__title {
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto 40px;
    font-family: "Bitter";
    font-size: 35px;
  }
  .team__flex {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .team__flex__item {
    margin-bottom: 30px;
    flex-direction: column;
    align-items: center;
  }
  .team__flex__item img {
    display: block;
    width: 250px;
    height: 250px;
    margin-bottom: 15px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .team__name {
    display: block;
    font-family: "Bitter";
    font-size: 25px;
    letter-spacing: 1.4px;
  }
  .team__post {
    text-transform: uppercase;
    font-size: 12px;
  }
  
  .footer {
    color: #FFFFFF;
  }
  
  .gallery__flex {
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 80px;
  }
  .gallery__item {
    margin-bottom: 30px;
  }
  .gallery__item img {
    height: 250px;
  }
  
  .price__main-flex img {
    max-width: 40%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .price__main-flex {
    margin-bottom: 30px;
    justify-content: space-around;
  }
  .price__list {
    width: 50%;
    font-size: 20px;
    margin-right: 30px;
  }
  .price__flex-item {
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 1px solid lightgray;
  }
  .contacts {
    color: $text-color;
  }
  .contacts__flex {
    width: 35%;
    flex-direction: column;
  }
  .contacts__flex-span {
    margin-bottom: 20px;
    font-family: "Bitter";
    font-size: 20px;
    font-weight: 600;
  }
  .contacts__flex address {
    font-style: normal;
  }
  .contacts__flex a {
    display: block;
    transition: color 0.2s ease;
  }
  .contacts__flex a:hover {
    color: #d46846;
  }
  .contacts__flex a:active {
    color: #a94324;
  }
  .contacts__flex p, .contacts__flex a {
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 20px;
    padding-left: 25px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
  }
  .contacts__flex p {
    background-image: url(img/footer_map.png);
  }
  .contacts__flex a {
    background-image: url(img/footer_mail.png);
  }
  .contacts__flex a.contacts__inst {
    padding-left: 0;
    background-image: none;
  }
  .contacts__flex a:nth-child(2) {
    background-image: url(img/footer_phone.png);
  }
  
  .contacts__inst svg {
    margin-right: 5px;
    fill: lightgray;
  }
  
  .contacts__form {
    width: 60%;
  }
  
  #message {
    width: 97.9%;
    margin-top: -1px;
    resize: none;
  }
  
  #contacts_btn {
    display: block;
    margin: 40px 0 0 0;
    font-weight: 400;
  }
  
  #email {
    margin-left: -5px;
  }
  
  #message,
  #name,
  #email {
    padding: 10px;
    font-size: 15px;
  }
  #message::-moz-placeholder, #name::-moz-placeholder, #email::-moz-placeholder {
    font-family: "Bitter";
  }
  #message::placeholder,
  #name::placeholder,
  #email::placeholder {
    font-family: "Bitter";
  }
  
  #name,
  #email {
    width: 49%;
    height: 50px;
  }
  
  .services__item {
    padding: 15px;
    border: 1px solid black;
  }
  .services__item:not(:last-child) {
    margin-bottom: 15px;
  }
  .services__item__title {
    margin-bottom: 10px;
    font-style: oblique;
  }
  
  .nav-burger span {
    background-color: black;
  }/*# sourceMappingURL=style_other.css.map */

  .btn-up {
    position: fixed;
    background-color: #BF624C;
    right: 20px;
    bottom: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    z-index: 100;
  }
  
  .btn-up::before {
    content: "";
    width: 40px;
    height: 40px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
  }
  
  .btn-up_hide {
    display: none;
  }
  
  @media (hover: hover) and (pointer: fine) {
    .btn-up:hover {
      background-color: $green-color; /* цвет заднего фона при наведении */
    }
  }
@media (max-width: 1100px) {
    .reviews {
        margin-bottom: 180px;
        margin-top: 50px;
        &__flex {
            flex-direction: column;
            align-items: center;
        }
        &__left {
            width: 70%;
        }
        &__right {
            width: 75%;
            &-tab {
                width: 80%;
                top: 35px;
            }
        }
    }
    .team {
        margin-bottom: 30px;
    }
    .tabheader__items  {
        bottom: 25px;
    }
    .contacts__main-flex {
        justify-content: space-between;
    }
    .footer {
        background-size: 480px;
    }
}

@media (max-width: 980px) {
    .nav {
        position: fixed;
        top: 0;
        right: -50%;
        width: 50%;
        height: 100%;
        padding: 15px;
        background: $green-color;
        transition: right .4s ease;
        &__list {
            margin-top: 30px;
            flex-direction: column;
            align-items: center;
        }

        &__item {
            margin: 0 0 15px;
            font-size: 20px;
        }

        &.active {
            right: 0;

            & ~ .nav-burger {
                & span {
                    transition: transform .3s ease;
                }
                & span:nth-child(1) {
                    transform: rotate(45deg);
                }
                & span:nth-child(2) {
                    background-color: transparent;
                }
                & span:nth-child(3) {
                    top: 0;
                    transform: rotate(-45deg);
                }
            }
        }

        &-burger {
            position: relative;
            z-index: 10;
            display: block;
            cursor: pointer;
            width: 30px;
            height: 20px;
            background-color: transparent;
            border: none;

            &:hover {
                & span {
                    background-color: #bf7869;
                }
            }
            

            & span {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: white;
                transition: background-color .15s ease;

                &:nth-child(2){
                    top: 50%;
                }
                &:nth-child(3){
                    top: 100%;
                }
            }
        }
    }
    .main-service__bottom-left, .main-service__bottom-right {
        width: 50%;
    }
    .footer {
        background-image: none;
        &__center__item {
            width: 120px;
        }
    }
}

@media (max-width: 750px) {
    .header {
        &__bottom {
            margin-top: 50px;
            &__title {
                font-size: 4em;
            }
        }
    }
    .main-service{
        &__flex {
        flex-direction: column
        }
        &__item:not(:last-child) {
            margin-bottom: 30px;
        }
        &__bottom {
            margin-top: 20px;
            &-title {
                left: auto;
                font-size: 3em;
            }
            &-right {
                display: none;
            }
            &-left {
                margin-top: 37px;
                height: 100%;
                width: 80%;
                padding: 20px 3% 12px;
                & > h3 {
                    margin-top: 8px;
                }
                & > img {
                    width: 100%;
                }
            }
        }
    }
    .reviews {
        margin-bottom: 80px;
    }
    .reviews__right{
        height: 250px;
        &-tab {
            width: 100%;
        }
        &-photo {
            display: none;
        }
    }
    .tabcontent {
        padding: 20px;
    }
    .tabheader__items {
        right: 40%;
    }
    .team {
        &__title {
            margin-bottom: 30px;
        }
    }
    .contacts {
        &__main-flex {
            flex-direction: column;
        }
        &__flex {
            width: 100%;
        }
        &__form {
            width: 100%;
        }
    }
    #contacts_btn {
        margin-top: 15px;
    }
    .footer{
        padding: 40px 0;
        &__flex {
            flex-direction: column;
            align-items: center;
        }
        &__center {
            width: 100%;
            &__list {
                align-items: center;
                justify-content: space-between;
                height: inherit;
                flex-direction: row;
            }
            &__item {
                margin-right: 30px;
                width: fit-content;
            }
            
        }
        &__left img {
            width: 70px;
            height: 50px;
        }
    }
    .footer__left a, .footer__center h3, .footer__contacts h3 {
        text-align: center;
    }
    .footer__left, .footer__center, .footer__contacts {
        margin-bottom: 30px;
    }
    .team__flex__item img {
        width: 180px;
        height: 180px;
    }
}
@media (max-width: 550px) {
    .container {
        padding: 0 15px;
    }

    .header {
        &__logo img {
            width: 75px;
            height: 55px;
        }
        &__bg {
            display: none;
        }
        &__top {
            padding: 15px;
        }
        &__bottom {
            display: flex;
            flex-direction: column;
            align-items: center;
            &__title {
                text-align: center;
                font-size: 3em;
            }
            &__btn {
                margin-bottom: 40px;
            }
        }
    }
    .reviews {
        &__right,
        &__left {
            width: 100%;
        }
        &__title {
            font-size: 30px;
        }
    }
    .section-offset {
        margin: 40px auto;
    }
    .tabcontent {
        font-size: 15px;
        & p {
            font-size: 16px;
        }
    }
    .book {
        padding: 40px 0;
    }
    .team__flex__item {
        width: 40%;
        margin-bottom: 18px;
        & img  {
        width: 100%;
        margin-bottom: 5px;
    }}
    .team__name {
        font-size: 17px;
    }
    .team__title {
        margin: 15px auto 19px;
        font-size: 23px;
    }
}